body {
    padding: 0;
    margin: 0;
}
.hide {
    display: none !important;
}

input[type=range] {
    -webkit-appearance: none;
    border: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #333;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #333;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #333;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #333;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #333;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #333;
}
input[type=range]:focus::-ms-fill-upper {
    background: #333;
}

#Control {
    width: 100vw;
}
#MediaControls {
    width: 100vw;
    display: table;
    position: fixed;
    background: #FFF;
    box-shadow: 0 0 30px #333;
    padding: 0 0 20px 0;
}
#MediaControls button {
    width: 50vw;
    height: 50px;
    float: left;
    background: #333;
    border: none;
    color: #FFF;
    font-size: 20px;
    border-right: 1px solid #000;
    outline: none;
}
#MediaControls button:focus {
    outline: none;
}
#MediaControls button:last-child {
    border: none;
}
#MediaControls input {
    width: 90%;
    margin: 5px 5% 0 5%;
    height: 40px;
}
button {
    width: 120px;
    height: 40px;
}
#Search {
    margin-bottom: 30px;
}
#SearchInput {
    width: 90%;
    margin: 0 5%;
    font-size: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 5px;
}

ul {
    width: 100%;
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    float: left;
    border-bottom: 1px solid #DDD;
}
ul li img {
    float: left;
    width: 30%;
    margin-right: 10px;
}
ul li h3 {
    width: calc(70% - 10px);
    font-size: 18px;
    float: left;
    margin: 0;
    padding: 0;
}
ul li:nth-child(even) {
    background: #EEE;
}
#Videos {
    padding-top: 170px;
}
#Config {
    width: 100vw;
    height: 100vh;
    display: table;
    background: #FF6700;
    color: #F9F4EF;
    font-family: monospace;
    padding: 10px 5px;
    box-sizing: border-box;
}

#Config > div {
    text-align: center;
    display: table;
    margin: 0 auto;
}

#Config span {
    background: rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#Config input {
    background: rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px rgba(0,0,0,0.1) solid;
    width: 140px;
    height: 35px;
    color: #FFF;
}

#Config #form {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #FF6700;
    display: table;
    margin: 0 auto;
}

#Config #form input {
    float: left;
}

#Config #form button {
    width: 70px;
    height: 57px;
    background: #e05b00;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #FFF;
    float: left;
    cursor: pointer;
}

#QRCode {
    width: 200px;
    height: 200px;
    border: 20px rgba(0,0,0,0.2) solid;
}
#Player {
    width: 100%;
    height: 100%;
    position: fixed;
}