#Config {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#E2E2E2, #5D5D5D);
}

#QRCode {
    width: 150px;
    height: 150px;
    margin-top: calc(50vh - 75px);
    margin-left: calc(50vw - 75px)
}
